@charset "utf-8";

@font-face {
  font-family: "Norse-Bold";
  src:
    url(../fonts/Norse-Bold.woff2),
    url(../fonts/Norse-Bold.woff);
  font-weight: bold;
  font-style: normal;
  display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #1F2937;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  display: grid;
  grid-template-columns: 535px 1fr;
  min-height: 100dvh;
}

.head {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0;
  z-index: 0;
}

.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-img.jpg) no-repeat center / cover;
  z-index: -1;
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  margin-top: 212px;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 13px 20px 7px;
}

.logo {
  width: 95px;
}

.title-text {
  padding-top: 24px;
  font-family: "Norse-Bold", sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}

.copyright {
  margin-top: auto;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}

.copyright a {
  text-decoration: underline;
}

.body {
  padding: 165px 48px;
  background-color: #F9FAFB;
}

.lead > *:first-child {
  margin-top: 0;
}
.lead > p {
  max-width: 50ch;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
}

.form-body {
  background-color: #fff;
  margin: 64px -48px;
  padding: 18px 48px 38px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.form-content {
  display: grid;
  grid-template-columns: repeat(2, 262px);
  gap: 20px 72px;
  margin-top: 20px;
}

.form-block label {
  margin-bottom: -2px;
  display: block;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.form-block input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #E5E7EB;
	border-radius: 4px;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	padding: 0.2em 0.6em;
	width: 100%;
}

.form-block input:focus {
	border-color: blue;
	box-shadow: none;
	outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.form-block input[type="password"]:invalid {
  border-color: #B91C1C;
}

.submit-btn {
	-webkit-appearance: none;
	background-color: #596D48;
	background-image: none;
	border: none;
  border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	padding: 0.6em 2em;
	text-decoration: none;
  box-shadow: 0 0 0 2px rgba(59,130,246,.1);
}

.submit-btn:hover,
.submit-btn:focus {
	outline: none;
}

.submit-btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}


.note {
  margin-top: 40px;
  font-size: 0.875rem;
}

.note a {
  font-weight: bold;
  color: #596D48;
}
